# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# build
/.next/
/out/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# local env files
.env
.env*.local

# vercel
.vercel

# turbo
.turbo

# data files
src/lib/data.json
src/lib/dti-tech-blogs.json
src/lib/explore-resiliency-program.json
src/lib/tech-sphere-sessions.json
src/lib/hackathons.json
src/lib/industry-events.json
src/lib/squad-onboarding.json
src/lib/arc-trainings.json
src/lib/app-sherpas.json
src/lib/jira-assistant-adoption/
