# Local data files
src/lib/data.json
src/lib/dti-tech-blogs.json
src/lib/explore-resiliency-program.json
src/lib/hackathons.json
src/lib/industry-events.json
src/lib/arc-trainings.json
src/lib/app-sherpas.json
src/lib/jira-assistant-adoption/
src/lib/tech-sphere-sessions.json
src/lib/squad-onboarding.json
node_modules
